.panel {
  display: flex;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.panel-container {
  width: 1000px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/background.jpg");
  background-position: 68% 0;
}
